@import 'tailwindcss';

@theme {
  --color-primary: #76535f;
  --color-secondary: #222222;

  --background-image-hero: url('./images/background.webp');
}

.mask {
  mask-image: linear-gradient(black 90%, transparent);
}
