@import 'tailwindcss';

@theme {
  --color-primary: #76535f;
  --color-secondary: #222222;

  --background-image-hero: url('./images/logo-la-velada-v.webp');
  --background-image-fighters: url('./images/logo-velada.webp');
}

.mask {
  mask-image: linear-gradient(black 90%, transparent);
}
