<div class="flex flex-col justify-center items-center">
  <img
    class="w-96 md:w-164"
    src="./images/logo-la-velada-v.webp"
    alt="Logo de la Velada del Año V"
  />
  <article class="mt-6 flex flex-col items-center justify-center gap-y-2">
    <span class="font-semibold uppercase text-4xl text-primary"
      >26 de julio</span
    >
    <span class="font-medium uppercase text-3xl text-black/60"
      >Twitch.tv/Ibai</span
    >
  </article>
</div>
