---
import SectionContainer from '../components/SectionContainer.astro';
import CountdownTime from '../components/CountdownTime.astro';
---

<SectionContainer id="countdown" className="flex-col items-center gap-y-8">
  <h2 class="text-5xl uppercase text-primary font-bold">Tiempo Restante</h2>
  <CountdownTime />
</SectionContainer>
