---
import FightersList from '../components/FightersList.astro';
import SectionContainer from '../components/SectionContainer.astro';
---

<SectionContainer
  id="fighters"
  className="p-8 flex-col items-center gap-y-4 min-h-screen hidden md:flex"
>
  <h2 class="text-primary text-5xl font-semibold tracking-wide uppercase">
    Selecciona a tu boxeador
  </h2>
  <FightersList />
</SectionContainer>
