---
const navItems = [
  {
    title: 'Inicio',
    url: '/#',
  },
  {
    title: 'Contador',
    url: '/#countdown',
  },
  {
    title: 'Luchadores',
    url: '/#fighters',
  },
];
---

<header class="flex justify-center items-center w-full pt-6">
  <nav class="flex gap-x-4">
    {
      navItems.map(({ title, url }) => (
        <a
          class="text-xl text-primary font-semibold uppercase hover:scale-110 transition"
          href={url}
        >
          {title}
        </a>
      ))
    }
  </nav>
</header>
